server {
	# Listen on port 443 for SSL connections
	listen 443 ssl default_server;
	listen [::]:443 ssl default_server
	
	# Define the server name
	server_name mcruz-sa.42.fr;
	
	# SSL certificate configuration // Identity for the server
	ssl_certificate		/run/secrets/mcruz-sa_cert;
	ssl_certificate_key /run/secrets/mcruz-sa_key;

	# SSL protocols and ciphers
	ssl_protocols TLSv1.2 TLSv1.3;
	ssl_prefer_server_ciphers on;
	ssl_ciphers ECDHE-ECDSA-AES128-GCM-SHA256:ECDHE-RSA-AES128-GCM-SHA256:ECDHE-ECDSA-AES256-GCM-SHA384:ECDHE-RSA-AES256-GCM-SHA384:DHE-RSA-AES128-GCM-SHA256:DHE-RSA-AES256-GCM-SHA384;

	root /var/www/wordpress; 	# root directory of the server

	# Default index files
	index index.php index.html index,htm;	# the index file that the server will use


	# Log files
	access_log /var/log/nginx/wordpress.access_log;
	error_log /var/log/nginx/wordpress.error_log;

	# WordPress specific configuration
	location / {
		try_files $uri $uri/ /index.php?$args;
	}

	# PHP processing
	location ~ \.php$ {
		fastcgi_split_path_info ^(.+\.php)(/.+)$;
		fastcgi_pass wordpress:9000;
		fastcgi_index index.php;
		include fastcgi_params;
		fastcgi_param SCRIPT_FILENAME $document_root$fastcgi_script_name;
		fastcgi_param PATH_INFO $fastcgi_path_info;
	}

	# Security: Deny access to sentitive files
	location ~* ^/(?:\.htaccess|wp-config\.php)$ {
		deny all;
	}

	# Static file caching
	location ~* \.(js|css|png|jpg|gif|ico)$ {
		expires max;
		log_not_found off;
	}
}

# Redirect HTTP to https
server {
	listen 80 default_server;
	listen [::].80 default_server;
	return 301 https://$server_name$request_uri;
}
